:root {
    --blue: rgb(0, 123, 255);
    --indigo: rgb(102, 16, 242);
    --purple: rgb(111, 66, 193);
    --pink: rgb(232, 62, 140);
    --light-pink: rgb(223, 176, 198);
    --red: rgb(220, 53, 69);
    --orange: rgb(253, 126, 20);
    --yellow: rgb(255, 193, 7);
    --green: rgb(40, 167, 69);
    --teal: rgb(32, 201, 151);
    --cyan: rgb(23, 162, 184);
    --white: rgb(255, 255, 255);
    --gray-lighter: rgb(241, 241, 241);
    --gray-light: rgb(174, 174, 174);
    --gray: rgb(108, 117, 125);
    --gray-dark: rgb(52, 58, 64);
    --gray-darkest: rgb(33, 37, 41);
    --primary: rgb(42, 126, 187);
    --secondary: rgb(242, 190, 84);
    --terciary: rgb(36, 62, 82);
    --secondary-dark: rgb(206, 156, 57);
    --success: rgb(40, 167, 69);
    --info: rgb(23, 162, 184);
    --warning: rgb(255, 193, 7);
    --danger: rgb(220, 53, 69);
    --light: rgb(248, 249, 250);
    --dark: rgb(52, 58, 64);
    --primary-text-color: rgb(33, 37, 41);
    --secondary-text-color: rgb(255, 255, 255);
    --darken-border: rgba(0,0,0,0.2);
    --lighten-border: rgba(255, 255, 255, 0.2);
    --background-color: rgb(255, 255, 255);
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }