{% extends "base.html" %}
{% load block_templates static trans %}
{% block title %}{% trans "title_home" %}{% endblock %}
{% block content %}
<div class="jumbotron background-image">
  <img src="{% static 'images/logo.png' %}" width="120" height="120" class="d-inline-block align-top" alt="">
  <div class="display-3">King Of Managers</div>
  <p class="lead">King Of Managers es un proyecto de liga virtual diseñado en el lenguaje Python.</p>
</div>

<!--
<div class="row">
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>-->

<div class="row">
  <div class="col-lg-4">
    <h4>{% trans 'title_news' %}</h4><hr>
    <div class="list-group">
      {% news_block %}
    </div>
  </div>
</div>
{% endblock %}